* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.App {
  background: rgb(102, 0, 255);
}

.d-flex {
  display: flex;
}

.cell {
  border: 1px solid gray;
  padding: 10px 15px;
  cursor: pointer;
}

.active-cell {
  background: rgb(80, 0, 255);
}

.sudoku {
  border-collapse: collapse;
  border: 2px solid black;
}

.sudoku td:nth-of-type(3) {
  border-right: 2px solid black;
}

.sudoku tr:nth-of-type(even) {
  border-bottom: 2px solid black;
}

.mistakes {
  color: red;
}

.btn {
  padding: 17px 25px;
  background: rgb(226, 162, 12);
  color: rgb(102, 0, 255);
  font-weight: bold;
  font-size: large;
  border-radius: 15px;
}

.container {
  min-height: 100vh;
  max-width: 540px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}